.user-filter {
    margin-bottom: 30px;
}
.login-form {
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 200px !important;
}
.login-form-forgot {
float: right;
}
.ant-col-rtl .login-form-forgot {
float: left;
}
.login-form-button {
width: 100%;
}
.text-center{
  text-align: center !important;
}

.dynamic-delete-button {
  margin: 0 8px;
  cursor: pointer;
  position: relative;
  top: 4px;
  transition: all 0.3s;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 576px) {
  .search-column {
    margin-bottom: 10px;
  }
  .search-button{
    padding-right: 5px;
  }
  .clear-button{
    padding-left: 5px;
  }
}

@media screen and (min-width: 578px) {
  .search-column, .search-button, .clear-button {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}